<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationName" value="Esd.EnergyPec.DesktopApplication"/>
    <add key="ServerIP" value="localhost"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStr" providerName="System.Data.SqlClient" connectionString="Data Source=ANGUS-PC\ESDSQL;Initial Catalog=Esd_VersionManagement;User ID=sa;Pwd=esd@sz168"/>
  </connectionStrings>
</configuration>