<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/DinoTechSyncEntities.csdl|res://*/DinoTechSyncEntities.ssdl|res://*/DinoTechSyncEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.0.102;initial catalog=DomesticDinoTech;persist security info=True;user id=sa;password=esd.2015;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBConnString" connectionString="Data Source=172.17.0.102;Initial Catalog=DomesticDinoTech;User ID=sa;Password=esd.2015" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="DBProvider" value="DataProvider.SqlServer" />
    <add key="FileDataPath" value="C:\RealTimeFiles\"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets async="true">
      <target xsi:type="File" name="logFile" fileName="${basedir}/Logs/${shortdate}.log" layout="TimeStamp: ${longdate}${newline}Level: ${uppercase:${level}}${newline}Title: ${message}${newline}${exception:format=tostring}${newline}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logFile" />
    </rules>
  </nlog>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">

          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata httpGetEnabled="true"  httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <!--<endpointBehaviors>
        <behavior name="EndpBehavior">
          <soapProcessing/>
        </behavior>
      </endpointBehaviors>-->
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="544096" />
          <security mode="None">
          </security>
        </binding>

      </wsHttpBinding>

    </bindings>

    <services>
      <service behaviorConfiguration="ServiceBehavior"  name="DinoTechDataSyncService.WCF.DinoTechDataSyncService">
        <endpoint address="" bindingConfiguration="wsHttpBinding"   binding="wsHttpBinding" contract="DinoTechDataSyncService.WCF.IDinoTechDataSyncService"/>
      </service>
    </services>

    <protocolMapping>
      <add binding="wsHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
