<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServerIP" value="localhost" />
  </appSettings>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>

    <objects xmlns="http://www.springframework.net">
      <description>AOP例子</description>
      <object id="beforeAdvice" type="SpringNetAop.Aspects.LogBeforeAdvice,SpringNetAop" />
      <object id="afterAdvice" type="SpringNetAop.Aspects.AfterReturningAdvise,SpringNetAop" />
      <object id="exceptionAdvice" type="SpringNetAop.Aspects.ExceptionThrowsAdvice,SpringNetAop" />
      <object id="myStudentService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
          <object type="SpringNetAop.Service.StudentService, SpringNetAop" />
        </property>
        <property name="InterceptorNames">
          <list>
            <value>beforeAdvice</value>
            <value>afterAdvice</value>
            <value>exceptionAdvice</value>
          </list>
        </property>
      </object>
      <object id="myTeacherService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
          <object type="SpringNetAop.Service.TeacherService, SpringNetAop" />
        </property>
        <property name="InterceptorNames">
          <list>
            <value>beforeAdvice</value>
            <value>afterAdvice</value>
            <value>exceptionAdvice</value>
          </list>
        </property>
      </object>
      <object id="myCookService" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="Target">
          <object type="ServiceDao.CookService, ServiceDao" />
        </property>
        <property name="InterceptorNames">
          <list>
            <value>beforeAdvice</value>
            <value>afterAdvice</value>
            <value>exceptionAdvice</value>
          </list>
        </property>
      </object>
    </objects>
  </spring>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spring.Aop" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.40943" newVersion="1.3.2.40943" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.40943" newVersion="1.3.2.40943" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
