<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <!--使用平台PEC||Cloud-->
    <add key="TargetPlatform" value="Cloud"/>
    <!--报表配置文件路径-->
    <add key="ConfigurationPath" value="C:\ReportGenerationServerXmlFile\"/>
    <!--报表自动保存或发送的时间间隔-->
    <add key="ScanInterval" value="1"/>
    <!--报表自动存储路径-->
    <add key="SaveDirectory" value="C:\ReportFile"/>
    <!--服务地址IP-->
    <add key="ServerAdd" value="localhost"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets async="true">
      <target xsi:type="File" name="logFile" fileName="${basedir}/Logs/${shortdate}.log" layout="TimeStamp: ${longdate}${newline}Level: ${uppercase:${level}}${newline}Title: ${message}${newline}${exception:format=tostring}${newline}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logFile" />
    </rules>
  </nlog>
</configuration>