<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUri" value="net.tcp://localhost:28890/VerUpdateOnline/CheckUpdateService" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStr" providerName="System.Data.SqlClient" connectionString="Data Source=ANGUS-PC\ESDSQL;Initial Catalog=Esd_VersionManagement;User ID=sa;Pwd=esd@sz168"/>
  </connectionStrings>
</configuration>