<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <!--新浪微博社区登录接口-->
    <add key="SinaWeibo.AppKey" value="1713011314"/>
    <add key="SinaWeibo.AppSecret" value="改成你网站申请的对应的AppSecret"/>
    <add key="SinaWeibo.CallbackUrl" value="http://www.cyqdata.com/sys/login"/>
    <!--QQ社区登录接口-->
    <add key="QQ.AppKey" value="100324056"/>
    <add key="QQ.AppSecret" value="改成你网站申请的对应的AppSecret"/>
    <add key="QQ.CallbackUrl" value="http://www.cyqdata.com/sys/login"/>
    <!--淘宝社区登录接口-->
    <add key="TaoBao.AppKey" value="改成你网站申请的对应的AppKey"/>
    <add key="TaoBao.AppSecret" value="改成你网站申请的对应的AppSecret"/>
    <add key="TaoBao.CallbackUrl" value="改成你网站的登陆页地址"/>
    <!--微信公众号登录接口-->
    <add key="WeiXin.AppKey" value="改成你网站申请的对应的"/>
    <add key="WeiXin.AppSecret" value="改成你网站申请的对应的AppSecret"/>
    <add key="WeiXin.CallbackUrl" value="改成你网站的登陆页地址"/>
  </appSettings>
  <connectionStrings/>

  <system.web>
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" />
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
</configuration>
